<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twitter Bot Logs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<style>
body{
  background-color: rgb(30, 30, 30);
}
.log-list-container{
  display: none;
}
.btn {
   margin: 1rem !important;
   display: block !important;
}
.card{
  background-color: rgb(34, 40, 46);
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: .25rem .5rem 1rem rgba(19,132,150,.10);
}
.dl-button{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>
<h1 class="log text-center text-white">Log {{log_date}}</h1>
<div class="dl-button">
  <a href = "{{ dl_href }}" class="btn btn-info">Download Log</a>
  <button type="button" class="btn btn-primary log-list-show" onclick="togglelist()">Show All Logs</button>
</div>
<div class="container">
  <div class="log-list-container">
    <div class="list-group">
      {% for log in logs_all %}
         <a href=" /log/{{ log.replace('/','_') }}" target="_blank" class="list-group-item list-group-item-action list-group-item-primary" id="log-file">Log {{ log }}</a>
      {% endfor %}
    </div>
  </div>
    <div class="row row-cols-1">
        <div class="cols"><div class="card"><div class="card-body text-success">
              <h3 class="card-title text-center">Summary</h3>
              {% for key in summary %}
              <p class="card-text"> {{ key }}: {{ summary[key] }} </p>
              {% endfor %}
        </div></div></div>
        {% for session in log_list %}
        <div class="cols"> <div class="card"><div class="card-body text-white">
              {% set sent_time=session[0].split('.')[1].split(']')[0].split(' ') %}
              <h4 class="card-title text-center"> New Tweet Sent At {{ sent_time[2]+" "+sent_time[3] }}</h4>  
              {% for line in session %}
                  <p class="card-text"> {{ line }} </p>  
              {% endfor %}
        </div></div></div>
        {% endfor %} 
    </div>
</div>
<script>
  function togglelist(){
    var cntnr = document.querySelector(".log-list-container")
    var btn   = document.querySelector(".log-list-show")
    if(cntnr.style.display==="block"){
      cntnr.style.display="none"
      btn.innerText = "Show All Logs"
    }
    else{
      cntnr.style.display="block"
      btn.innerText = "Hide Logs"
    }
  }
    for (const file of document.querySelectorAll("#log-file")){
      if(file.innerText.split(' ')[1] == '{{ log_date }}'.split(' ')[0]){
        file.classList.add("active")
    }
  } 
</script>
</body>
</html>