<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log {{log_date}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<h1 class="text-center text-white">Log {{log_date}}</h1>
<div class="top-bar">
  <a href = "/log/download/{{ log_date.split(' ')[0].replace('/','_') }}" class="btn btn-info">Download Log</a>
  <button type="button" class="btn btn-primary log-list-show" onclick="togglelist()">Show All Logs</button>
</div>
<div class="container">
  <div class="log-list-container">
  </div>
    <div class="row row-cols-1">
        {% for session in log_list %}
        <div class="cols cols-card-{{ loop.index }}"> <div class="card"><div class="card-body text-white">
              {% set sent_time=session[0].split('.')[1].split(']')[0].split(' ') %}
              <h4 class="card-title text-center ses-{{ loop.index }}">{{ loop.index }}. New Tweet Sent At {{ sent_time[2]+" "+sent_time[3] }}</h4>
              {% for line in session %}
                  <p class="card-text"> {{ line }} </p>
              {% endfor %}
        </div></div></div>
        {% endfor %} 
    </div>
</div>
<div class="but-sc">
    <button type="button" class="btn scroll-btn s-up" data-long-press-delay="400" title="Go Up" onclick="scrollBefore()">
      <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="#FFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"/></svg>
    </button>
  <button type="button" class="btn scroll-btn s-down" data-long-press-delay="400" title="Go Down" onclick="scrollNext()">
    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="#FFF"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
  </button>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>
<script src="/static/long-press-event.min.js"></script>
<script src='/static/main.js'></script>
</body>
</html>